@import url(..//styles/reset.css);
@import url(..//styles/index.css);
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Manrope&family=Raleway&display=swap");

body {
  font-family: "Manrope", sans-serif;
  background-color: black;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 559px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}